*{
    padding: 2%;
    margin:1%;
}
h1{
    font-style: inherit;
    text-align: center;
    font-size: 40px;
}
img{
    height: 200px;
    margin: 2%;
}
.header{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.body{
    display: flex;
    justify-content: center;
    background-color:indianred;
    align-items: center;
}
.footer{
    background-color: lightslategrey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}